<link rel="stylesheet" href="/stylesheets/index.css">

<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted footer-font">&copy; Cafe Hoppers 2023</span>
    </div>
</footer>