<% layout('layouts/boilerplate') %>
  <div class="row">
    <h1 class="text-center text-white title">New Cafe</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/cafes" method="POST" novalidate class="validated-form text-white" enctype="multipart/form-data" >
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="cafe[name]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>  
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label> 
                    <input class="form-control" type="text" id="location" name="cafe[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3"> 
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="cafe[description]" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                
                <div class="mb-3">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="image">Upload Image(s)</label>
                        <input type="file" class="form-control" id="image" name="image" multiple>
                      </div>
                      </div>
                <div class="mb-3">
                <button class="btn btn-funky-moon text-white">Add Cafe</button>
                </div>
            </form>
            <a href="/cafes" class="text-white">All Cafes</a>
        </div>
  </div>

